# 10 数据连接

In [1]:
import pandas as pd
import numpy as np

df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})   #通过 numpy 随机生成的 7 个整数，范围在 0 到 10 之间
df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
                        'data2' : np.random.randint(0,10,3)})   #注意区别np.arange(0, 10, 3)  此处3为间隔

print(df_obj1)
print('-'*50)
print(df_obj2)

ModuleNotFoundError: No module named 'pandas'

In [2]:
#默认连接使用相同的列名，连接方式是内连接
pd.merge(df_obj1, df_obj2)  #默认根据两者之间的“公共列”进行合并

  key  data1  data2
0   b      6      8
1   b      0      8
2   b      9      8
3   a      3      5
4   a      3      5
5   a      2      5

In [3]:
#左df和右df都拿索引连接
pd.merge(df_obj1, df_obj2,left_index=True,right_index=True)  #基于索引来合并，如果索引不匹配，则对应行将不会出现在合并后的结果中。

  key_x  data1 key_y  data2
0     b      6     a      5
1     b      0     b      8
2     a      3     d      9

In [4]:
#左表和右表都拿key列来连接
pd.merge(df_obj1, df_obj2, on='key')

  key  data1  data2
0   b      6      8
1   b      0      8
2   b      9      8
3   a      3      5
4   a      3      5
5   a      2      5

In [5]:
# 更改列名
df_obj1 = df_obj1.rename(columns={'key':'key1'})
df_obj2 = df_obj2.rename(columns={'key':'key2'})

In [6]:
df_obj1

  key1  data1
0    b      6
1    b      0
2    a      3
3    c      9
4    a      3
5    a      2
6    b      9

In [7]:
df_obj2

  key2  data2
0    a      5
1    b      8
2    d      9

In [8]:
#左表以key1来连接，右表以key2来连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2')

  key1  data1 key2  data2
0    b      6    b      8
1    b      0    b      8
2    b      9    b      8
3    a      3    a      5
4    a      3    a      5
5    a      2    a      5

In [9]:
#全外连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='outer')  #全外连接

  key1  data1 key2  data2
0    b    6.0    b    8.0
1    b    0.0    b    8.0
2    b    9.0    b    8.0
3    a    3.0    a    5.0
4    a    3.0    a    5.0
5    a    2.0    a    5.0
6    c    9.0  NaN    NaN
7  NaN    NaN    d    9.0

In [10]:
#left join 等价于 left  join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='left')

  key1  data1 key2  data2
0    b      6    b    8.0
1    b      0    b    8.0
2    a      3    a    5.0
3    c      9  NaN    NaN
4    a      3    a    5.0
5    a      2    a    5.0
6    b      9    b    8.0

In [11]:
# right等价于数据库的right join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='right')

  key1  data1 key2  data2
0    a    3.0    a      5
1    a    3.0    a      5
2    a    2.0    a      5
3    b    6.0    b      8
4    b    0.0    b      8
5    b    9.0    b      8
6  NaN    NaN    d      9

In [12]:
# 处理重复列名
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                        'data' : np.random.randint(0,10,3)})
#给相同的数据列添加后缀
print(pd.merge(df_obj1, df_obj2, on='key', suffixes=('_left', '_right')))

  key  data_left  data_right
0   b          4           4
1   b          3           4
2   b          9           4
3   a          9           6
4   a          7           6
5   a          4           6

In [13]:
# 按索引连接
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'data2' : np.random.randint(0,10,3)}, index=['a', 'b', 'd'])
print(df_obj1)
print(df_obj2)

  key  data1
0   b      5
1   b      0
2   a      5
3   c      3
4   a      2
5   a      5
6   b      1
   data2
a      5
b      9
d      7

In [14]:
print(pd.merge(df_obj1, df_obj2, left_on='key', right_index=True))

  key  data1  data2
0   b      5      9
1   b      0      9
6   b      1      9
2   a      5      5
4   a      2      5
5   a      5      5

In [2]:
pd.merge(df_obj2,df_obj1, left_index=True, right_on='key')

NameError: name 'pd' is not defined

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject